body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    position: absolute;
    bottom: 70%;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1A4D2E;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #1A4D2E;
}
.form-group {
    width: 100%;
}
